/* comments */
.reddit-comments-box {
    flex-direction: column;
    padding: 0.5rem 1rem;
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
}

.reddit-comments-box:hover {
    box-shadow: 0.2rem 0.2rem 0.8rem rgb(177, 171, 171);
}

.comment-post-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.5rem 0 1.3rem;
}

.comment-post-time, .comment-text {
    color: rgb(98, 96, 96);
}

.commentor {
    color:rgb(77, 77, 234)
}

@media only screen and (max-width: 600px) {
    .reddit-comments-box {
        font-size: 0.7rem;
        margin-bottom: 0.2rem;
    }
}

